<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/materialize.min.css"  media="screen,projection"/>
</head>
<body>

	<form action="salvarPessoa" method="post">

		<label>Nome</label> <input name="nome"> 
		<label>Sobrenome</label> <input name="sobrenome"> 
		<input type="submit" value="Salvar" a  class="waves-effect waves-light btn"> 
	</form>
	
	<br/>
	<a class="waves-effect waves-light btn" href="/listapessoas">Listar</a>
	<br/>
	<br/>
	<a class="waves-effect waves-light btn" href="/">Inicio</a>
	<table>
		<tr th:each = "pessoa : ${pessoas}">
		<br/>
		<td>COD :</td>
		<td th:text = "${pessoa.id}"></td>
		<td> NOME :</td><td th:text = "${pessoa.nome}"></td>
		<td> SOBRENOME :</td><td th:text = "${pessoa.sobrenome}"></td>
		</tr>
	</table>
	
	
	
	<script type="text/javascript" src="materialize/js/materialize.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>