<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Virtual Book</title>
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>

</head>
<body>
	
	<h1>Virtual Book</h1>
	<a  class="waves-effect waves-light btn" href="/cadastroPessoa">Cadastrar Cliente</a>
	<br/>
	<br/>
	<a  class="waves-effect waves-light btn" href="/cadastroLivro">Cadastrar Livro</a>
	<br/>
	<br/>
	
	
	
	

<script type="text/javascript" src="materialize/js/materialize.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>